
.crousel-item{
    height: 450px;
    width: 100%;
}
.crousel-item .image{
    width: 80%;
    height: 100%;
}
.card-wrapper{
    height: 100%;
    text-align: center;
    margin: 20px;
    background-color: white;
    padding: 30px;
}
.card-wrapper .title{
    font-weight: 700;
}
.card-wrapper .card-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card-wrapper .card{
    border-radius: 15px;
    /* width: 15rem; */
    width: calc(17% - 5px); 
    height: 25rem;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
    transition: scale 0.3s;
}
.card-wrapper .card:hover{
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    scale: 1.02;
}
.card-wrapper .card img{
    width:100%;
    height: 50%;
    border-radius: 15px;
}
.card-wrapper .card .card-text{
    padding: 3px;
}
.card-wrapper .card .card-text .title{
    font-size: 23px;
    font-weight: 600;
}