.footer-wrapper{
    background-color: #212529;
    color: white;
    padding-top: 2rem;
    z-index: 0;
}
.links-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.links-heading{
    font-size: 25px;
    color: #888889;
    font-weight: 700;
}
.links-wrapper li{
    list-style: none;
    padding: 5px;
    cursor: pointer;
}