.card-container{
    background-color: rgb(196, 195, 195);
}
.main-container{
    display: flex;
    gap: 10rem;
    padding: 5rem;
}
.main-container .left-container{
    width: 27rem;
    height: 30rem;
    background-color: white;
    box-shadow: 10px 10px 10px 10px rgb(114, 114, 114);
}
.main-container .left-container .image{
    width: 20rem;
    height: 25rem;
    margin-left: 3.5rem;
    margin-top: 2.5rem;
}
.carosule-images{
    display: flex;
}
.left-button, .right-button{
    background-color: rgba(0, 0, 0, 0.403);
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    bottom: 50%;
    cursor: pointer;
}
.right-button{
    margin-left: 1rem;
}